[build]
command = "npm install && npm run build"

[build.environment]
NODE_VERSION = "18"
NODE_ENV = "production"

[[plugins]]
package = "@netlify/plugin-nextjs"

[context.production.environment]
NEXT_PUBLIC_API_URL = "https://sayan-inventory-server.vercel.app/api"
